h1{
    text-align: center;
}

.col-sm{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

.container{
    background-color: pink;
}

body{
    padding: 3%;
    font-family: 'Noto Sans KR', sans-serif;
}