<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Twice's Japanese Members</h1>
        <br>
        <div class="container">
            <div class="row">
                {% for member in japanese %}
                    <div class="col-sm">
                        <h2>{{ member.name }}</h2>
                        {{ member.age }}<br>
                        {{ member.birth }}<br>
                        {{ member.nationality }}<br>
                        {{ member.position }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>